*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

/* header section */
header{
    background-color: rgb(207, 32, 32);
}

nav .menu{
    display: flex;
}

nav .menu li{
    border-right: 1px solid #fff;
    padding: 10px 5px;
}

nav .menu a{
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

/* hero section */
.hero img{
    width: 100%;
    height: 50vh;
}

/* events section */
.events{
    background-color: rgb(207, 32, 32);
    display: flex;
    padding: 20px;
}

.events .card{
    color: #fff;
    margin-right: 15px;
}

.events .card div{
    text-align: center;
}

.card h1{
    margin-bottom: 10px;
}

.card button{
    border-radius: 20px;
    padding: 7px 15px;
    border: none;
    text-transform: uppercase;
    margin-top: 15px;
}

/* news section */
.news{
    display: flex;
    justify-content: space-between;
}


.news .left{
    padding: 10px;
}

.news .left h1{
    text-align: center;
    margin-bottom: 10px;
}

.news .right{
    background-color: #403737;
    padding: 10px;
    max-width: 500px;
}

.news .right img{
    width: 120px;
    height: 170px;
    margin-right: 20px;
}

.news .right .card{
    display: flex;
    margin-bottom: 10px;
    color: #fff;
    text-align: justify;
}

/* footer section */

footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(211, 127, 0);
}